@media (min-width:320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .Section3{
        background: transparent linear-gradient(180deg, #021E53 16%, #022759 30%, #032C5D 35%, #1E65FF 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        text-align: center;
        height: 1500px;
    }
    .package h1{
        color: white;
    }
    .package{
        padding-top: 100px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        margin-left: 40px;
        margin-top: 80px;
    }
    .package{
        padding-top: 30px;
    }
    .grid{
        margin-left: 15px;
    }
    .nodisplay{
        display: none;
    }
    .price{
        margin-top: 40px;
    }
    .griddiv{
        width: 298px;
        height: 392px;
        background-color: white;
        border-style: solid;
        border-radius: 8px;
        color: black;
        padding-top: 60px;
    }
    .griddiv button{
        background-color: #1E65FF;
        color: white;
        height: 48px;
        width: 276px;
        border-radius: 8px;
        margin-top: 60px;
    }
    .sm-display{

    }
 
 }
@media (min-width:375px){   
    .grid{
        margin-left: 43px;
    }
    .griddiv{
        margin-top: 30px;
    }
}
    
   
@media (min-width:425px){  }
@media (min-width: 480px) {  }
@media (min-width: 600px) {  }
@media (min-width: 801px) {  }
@media (min-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-top: 80px;
        margin-left: 30px;
    }
    .griddiv{
        margin-top: 0px;
    }
    .nodisplay{
        display: grid;
    }
 }


